In [173]:
import pandas as pd

데이터 불러오기

In [174]:
df = pd.read_csv('/content/vgames2.csv')
first_column = df.columns[0]
df = df.drop([first_column], axis=1)

전처리 과정

In [175]:
# 결측치 확인

df.isnull().sum()

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [176]:
# 결측치를 '0' 으로 변경

df1 = df.fillna(0)

In [177]:
# 중복행 검사

df1.duplicated().sum()

1

In [178]:
# 중복행 제거

df1 = df1.drop_duplicates()

In [179]:
# 데이터 타입

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16597 entries, 0 to 16597
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16597 non-null  object
 1   Platform     16597 non-null  object
 2   Year         16597 non-null  float64
 3   Genre        16597 non-null  object
 4   Publisher    16597 non-null  object
 5   NA_Sales     16597 non-null  object
 6   EU_Sales     16597 non-null  object
 7   JP_Sales     16597 non-null  object
 8   Other_Sales  16597 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.3+ MB

In [180]:
# 전처리 후 데이터

df1

                                                 Name  ... Other_Sales
0                        Candace Kane's Candy Factory  ...           0
1                                      The Munchables  ...        0.01
2      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
3                    Deal or No Deal: Special Edition  ...           0
4           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16593                         Ice Age 2: The Meltdown  ...        0.01
16594                     Rainbow Islands: Revolution  ...           0
16595                                        NBA 2K16  ...        0.13
16596                     Toukiden: The Age of Demons  ...        0.03
16597                        The King of Fighters '95  ...        0.01

[16597 rows x 9 columns]

Q1. 연도별 게임의 트렌드가 있을까?

In [114]:
# 1900년대 미만의 값 제거

idx_nm_1 = df1[df1['Year'] <= 1900].index
df2 = df1.drop(idx_nm_1)

In [115]:
# 연도별 가장 많은 장르

df2 = df2.groupby('Year')['Genre'].agg(**{'most_common_value':lambda x:x.mode()}).reset_index()
df2

      Year           most_common_value
0   1980.0                        Misc
1   1981.0                      Action
2   1982.0                      Action
3   1983.0                      Action
4   1984.0   [Puzzle, Racing, Shooter]
5   1985.0          [Platform, Puzzle]
6   1986.0                      Action
7   1987.0                      Sports
8   1988.0                    Platform
9   1989.0                      Puzzle
10  1990.0  [Action, Platform, Sports]
11  1991.0                      Sports
12  1992.0                    Fighting
13  1993.0        [Fighting, Platform]
14  1994.0                      Sports
15  1995.0                      Sports
16  1996.0                      Sports
17  1997.0                      Sports
18  1998.0                      Sports
19  1999.0                      Sports
20  2000.0                      Sports
21  2001.0                      Sports
22  2002.0                      Sports
23  2003.0                      Action
24  2004.0                      Action
25  2005.0                      Action
26  2006.0                      Action
27  2007.0                      Action
28  2008.0                      Action
29  2009.0                      Action
30  2010.0                      Action
31  2011.0                      Action
32  2012.0                      Action
33  2013.0                      Action
34  2014.0                      Action
35  2015.0                      Action
36  2016.0                      Action
37  2017.0                Role-Playing
38  2020.0                  Simulation

A. 위 표를 통해 연도마다 게임의 트렌드가 다르다는 것을 알 수 있습니다.

Q2. 지역에 따라서 선호하는 게임 장르가 다를까?

Q3. 출고량이 높은 게임에 대한 분석 및 시각화 프로세스

In [171]:
# 지역에 따라서 선호하는 게임 장르가 다를까
# 출고량이 높은 게임에 대한 분석 및 시각화 프로세스

# 북미에서 출고량이 높은 게임 장르별 그룹화

df1_1 = df1[(df1['NA_Sales'].str.contains('K')) | (df1['NA_Sales'].str.contains('M'))]
df1_1 = df1_1.groupby(df1_1['Genre']).count()
df1_1 = df1_1.iloc[:, 0:1]
df1_1.columns = ["NA_Sales"]

In [170]:
# 유럽에서 출고량이 높은 게임 장르별 그룹화

df1_2 = df1[(df1['EU_Sales'].str.contains('K')) | (df1['EU_Sales'].str.contains('M'))]
df1_2 = df1_2.groupby(df1_2['Genre']).count()
df1_2 = df1_2.iloc[:, 0:1]
df1_2.columns = ["EU_Sales"]

In [168]:
# 일본에서 출고량이 높은 게임 장르별 그룹화

df1_3 = df1[(df1['JP_Sales'].str.contains('K')) | (df1['JP_Sales'].str.contains('M'))]
df1_3 = df1_3.groupby(df1_3['Genre']).count()
df1_3 = df1_3.iloc[:, 0:1]
df1_3.columns = ["JP_Sales"]

In [167]:
# 그 외에서 출고량이 높은 게임 장르별 그룹화

df1_4 = df1[(df1['Other_Sales'].str.contains('K')) | (df1['Other_Sales'].str.contains('M'))]
df1_4 = df1_4.groupby(df1_4['Genre']).count()
df1_4 = df1_4.iloc[:, 0:1]
df1_4.columns = ["Other_Sales"]

In [172]:
# 그룹화 한 데이터를 하나로 합치고, '0'인 행을 삭제하고, 실수를 정수로 변환

df1_5 = pd.concat([df1_1, df1_2, df1_3, df1_4], axis = 1)
df1_5 = df1_5.drop([0])
df1_5 = df1_5.astype(int)

In [161]:
# 각 장르별 게임수의 합을 계산하여 내림차순 정렬

df1_5 = df1_5.assign(sum=lambda x: (x['EU_Sales'] + x['NA_Sales'] + x['JP_Sales'] + x['Other_Sales']))
df1_5.sort_values(by=['sum'], axis=0, ascending=False)

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  sum
Action              40        36        39           39  154
Sports              36        21        27           25  109
Misc                21        30        27           16   94
Role-Playing        14        15        21           24   74
Racing              19        15        18           10   62
Shooter             16        20        10           15   61
Platform             8        18        13           18   57
Adventure            9        13        10           13   45
Simulation          13         8        11            9   41
Strategy            15         7         5           13   40
Fighting             3         9        15           10   37
Puzzle               5         7         3            8   23

A. 위 표를 통해 지역마다 선호하는 게임 장르가 크게 다르지 않고,  Action 장르가 지금까지 가장 인기가 많았다고 볼 수 있습니다.

In [181]:
# 북미에서 출고량이 높은 게임 제작사별 그룹화

df3_1 = df1[(df1['NA_Sales'].str.contains('K')) | (df1['NA_Sales'].str.contains('M'))]
df3_1 = df3_1.groupby(df3_1['Publisher']).count()
df3_1 = df3_1.iloc[:, 0:1]
df3_1.columns = ["NA_Sales"]

In [182]:
# 유럽에서 출고량이 높은 게임 제작사별 그룹화

df3_2 = df1[(df1['EU_Sales'].str.contains('K')) | (df1['EU_Sales'].str.contains('M'))]
df3_2 = df3_2.groupby(df3_2['Publisher']).count()
df3_2 = df3_2.iloc[:, 0:1]
df3_2.columns = ["EU_Sales"]

In [164]:
# 일본에서 출고량이 높은 게임 제작사별 그룹화

df3_3 = df1[(df1['JP_Sales'].str.contains('K')) | (df1['JP_Sales'].str.contains('M'))]
df3_3 = df3_3.groupby(df3_3['Publisher']).count()
df3_3 = df3_3.iloc[:, 0:1]
df3_3.columns = ["JP_Sales"]

In [165]:
# 그 외에서 출고량이 높은 게임 제작사별 그룹화

df3_4 = df1[(df1['Other_Sales'].str.contains('K')) | (df1['Other_Sales'].str.contains('M'))]
df3_4 = df3_4.groupby(df3_4['Publisher']).count()
df3_4 = df3_4.iloc[:, 0:1]
df3_4.columns = ["Other_Sales"]

In [183]:
# 그룹화 한 데이터를 하나로 합치고, 결측치를 '0'으로 바꾸고, 실수를 정수로 변환

df3_5 = pd.concat([df3_1, df3_2, df3_3, df3_4], axis = 1)
df3_5 = df3_5.fillna(0)
df3_5 = df3_5.astype(int)

In [184]:
# 각 제작사별 게임수의 합을 계산하여 내림차순 정렬

df3_5 = df3_5.assign(sum=lambda x: (x['EU_Sales'] + x['NA_Sales'] + x['JP_Sales'] + x['Other_Sales']))
df3_5.sort_values(by=['sum'], axis=0, ascending=False)

                              NA_Sales  EU_Sales  JP_Sales  Other_Sales  sum
Electronic Arts                     19        14        11           21   65
Ubisoft                              9        11         9           14   43
Konami Digital Entertainment        11        14         8           10   43
Activision                          10        14        10            8   42
Namco Bandai Games                  10        10         9           11   40
...                                ...       ...       ...          ...  ...
Sting                                0         1         0            0    1
SouthPeak Games                      0         1         0            0    1
SCi                                  0         1         0            0    1
Nippon Columbia                      0         1         0            0    1
Zoo Games                            0         0         0            1    1

[169 rows x 5 columns]

위 표를 통해 인기있는 게임이 'Electronic Arts'  제작사를 통해 제일 많이 배급됐다는 것을 알 수 있었습니다.

In [185]:
# 북미에서 출고량이 높은 게임 제작사별 그룹화

df3_1 = df1[(df1['NA_Sales'].str.contains('K')) | (df1['NA_Sales'].str.contains('M'))]
df3_1 = df3_1.groupby(df3_1['Platform']).count()
df3_1 = df3_1.iloc[:, 0:1]
df3_1.columns = ["NA_Sales"]

In [186]:
# 유럽에서 출고량이 높은 게임 제작사별 그룹화

df3_2 = df1[(df1['EU_Sales'].str.contains('K')) | (df1['EU_Sales'].str.contains('M'))]
df3_2 = df3_2.groupby(df3_2['Platform']).count()
df3_2 = df3_2.iloc[:, 0:1]
df3_2.columns = ["EU_Sales"]

In [187]:
# 일본에서 출고량이 높은 게임 제작사별 그룹화

df3_3 = df1[(df1['JP_Sales'].str.contains('K')) | (df1['JP_Sales'].str.contains('M'))]
df3_3 = df3_3.groupby(df3_3['Platform']).count()
df3_3 = df3_3.iloc[:, 0:1]
df3_3.columns = ["JP_Sales"]

In [188]:
# 그 외에서 출고량이 높은 게임 제작사별 그룹화

df3_4 = df1[(df1['Other_Sales'].str.contains('K')) | (df1['Other_Sales'].str.contains('M'))]
df3_4 = df3_4.groupby(df3_4['Platform']).count()
df3_4 = df3_4.iloc[:, 0:1]
df3_4.columns = ["Other_Sales"]

In [189]:
# 그룹화 한 데이터를 하나로 합치고, 결측치를 '0'으로 바꾸고, 실수를 정수로 변환

df3_5 = pd.concat([df3_1, df3_2, df3_3, df3_4], axis = 1)
df3_5 = df3_5.fillna(0)
df3_5 = df3_5.astype(int)

In [190]:
# 각 제작사별 게임수의 합을 계산하여 내림차순 정렬

df3_5 = df3_5.assign(sum=lambda x: (x['EU_Sales'] + x['NA_Sales'] + x['JP_Sales'] + x['Other_Sales']))
df3_5.sort_values(by=['sum'], axis=0, ascending=False)

      NA_Sales  EU_Sales  JP_Sales  Other_Sales  sum
PS2         15        29        28           27   99
DS          25        25        26           20   96
PS          17        14        18           19   68
Wii         20        14        18           15   67
PS3         19        20        19            9   67
PSP         13        19        13           14   59
X360        14        11        13           19   57
PC          14         8        10           15   47
XB           9         9        10           12   40
GBA         11        10         9            7   37
GC           9         9         6            6   30
PS4          8         5         6            4   23
3DS          5         6         5            5   21
PSV          4         6         3            7   20
N64          3         7         1            2   13
SAT          4         0         4            5   13
SNES         3         3         2            3   11
XOne         3         1         1            1    6
2600         1         1         2            2    6
WiiU         1         2         2            1    6
NES          2         0         0            4    6
GB           0         0         2            1    3
DC           0         1         0            1    2
GEN          0         0         1            1    2

위 표를 통해 'PS' 플랫폼을 사용하는 게임이 인기가 많았다는 것을 알 수 있습니다.

Q. 다음 분기에 어떤 게임을 설계해야 할까?

A. 다음 분기에는 
   PS의 최신형인 "PSV" 플랫폼을 이용하고,
   Action 장르 게임을
   Electronic Arts 제작사를 통해 배급하면 된다고 생각합니다.